body{
	background-color: black;
}

section{
	display: inline-block;
	background-color: white;
	vertical-align: top;
}

#instruct {
	padding: 6em 2em 0 0;
	width: 200px;
	height: 494px;
	box-sizing: border-box;
}

#images{
	width: 659px;
	height: 494px;
}

#container{
	width: 860px;
	margin: 6em auto 0 auto;

}

p{
	padding: 0;
	margin: 1em 0 0 0;
}